callsign.network {
  file_server {
    root /data/client
  }
  encode gzip

  reverse_proxy /relay server-relay:3001
  reverse_proxy /demo server-demo:3002

  header {
    Content-Security-Policy "default-src 'self' https:"
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security max-age=31536000;
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy: no-referrer
  }
}

*.callsign.network {
  tls {
    dns lego_deprecated domeneshop
  }
  file_server {
    root /data/keys/{host}
  }
  header Access-Control-Allow-Origin *
}

eirikb.no {
  file_server {
    root /data/keys/eirikb.no
  }
  header Access-Control-Allow-Origin *
}
