name: GH Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.2.0

      - run: |
          cd example-client
          npm i
          ./node_modules/.bin/parcel build src/index.html --public-url .

      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2.5.0
        with:
          build_dir: example-client/dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
